.card {
    border: solid rgb(3, 2, 2);
    width: 250px;
    text-align: center;
    padding: 10px;
    margin: 10px;

}


.batista {
    border: solid rgb(3, 2, 2);
    width: 180px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    background-color: rgba(0, 62, 248, 0.668);
}

.tolentino {
    border: solid rgb(3, 2, 2);
    width: 180px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    background-color: hsla(0, 8%, 95%, 0.792);
}

.marte {
    border: solid rgb(3, 2, 2);
    width: 180px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    background-color: hsla(0, 90%, 49%, 0.792);
}